{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    About
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="bg-secondary rounded p-5 mt-5">
            <h1 class="text-center text-white">About Us</h1>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet
                    beatae consequatur harum, illum itaque iusto maiores modi molestiae natus odit praesentium quaerat
                    quia
                    sint tempore ullam! Ex, vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
                    dolorum
                    enim expedita facilis nulla obcaecati odio placeat similique tempora temporibus. Consequatur, ipsam
                    labore maiores perspiciatis quasi reiciendis unde ut voluptatum.Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit. Ad aperiam
                    aspernatur atque, deleniti facilis id in iusto laudantium nostrum nulla numquam, porro quasi
                    quibusdam
                    quos sapiente tempora tempore vero, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                    A architecto beatae debitis ea enim facilis pariatur quia sed ut. Aliquid dolor dolore dolorem eaque
                    incidunt ipsa quidem ratione sequi, tempore.Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ad
                    aperiam
                    aspernatur atque, deleniti facilis id in iusto laudantium nostrum nulla numquam, porro quasi
                    quibusdam
                    quos sapiente tempora tempore vero, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                    A architecto beatae debitis ea enim facilis pariatur quia sed ut. Aliquid dolor dolore dolorem eaque
                    incidunt ipsa quidem ratione sequi, tempore.</p>
            </div>
            <div class="col-lg-6 text-justify">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. A alias amet
                    beatae consequatur harum, illum itaque iusto maiores modi molestiae natus odit praesentium quaerat
                    quia
                    sint tempore ullam! Ex, vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
                    dolorum
                    enim expedita facilis nulla obcaecati odio placeat similique tempora temporibus. Consequatur, ipsam
                    labore maiores perspiciatis quasi reiciendis unde ut voluptatum.Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit. Ad aperiam
                    aspernatur atque, deleniti facilis id in iusto laudantium nostrum nulla numquam, porro quasi
                    quibusdam
                    quos sapiente tempora tempore vero, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                    A architecto beatae debitis ea enim facilis pariatur quia sed ut. Aliquid dolor dolore dolorem eaque
                    incidunt ipsa quidem ratione sequi, tempore.Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ad
                    aperiam
                    aspernatur atque, deleniti facilis id in iusto laudantium nostrum nulla numquam, porro quasi
                    quibusdam
                    quos sapiente tempora tempore vero, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                    A architecto beatae debitis ea enim facilis pariatur quia sed ut. Aliquid dolor dolore dolorem eaque
                    incidunt ipsa quidem ratione sequi, tempore.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <h1 class="text-center text-white rounded bg-warning p-5">Our Mission</h1>
                <div class="mt-3">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam reprehenderit
                        sapiente tempore.
                        Accusantium corporis exercitationem numquam. Adipisci, corporis cumque hic impedit numquam
                        ratione!
                        Distinctio libero maiores maxime necessitatibus optio saepe! Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing elit. A aliquid animi asperiores corporis est expedita facere harum incidunt maxime
                        minimaminus, nesciunt officiis qui quo quod ratione similique sunt tenetur!Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Ad aperiam
                        aspernatur atque, deleniti facilis id in iusto laudantium nostrum nulla numquam, porro quasi
                        quibusdam
                        quos sapiente tempora tempore vero, voluptate. Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit.
                        A architecto beatae debitis ea enim facilis pariatur quia sed ut. Aliquid dolor dolore dolorem
                        eaque
                        incidunt ipsa quidem ratione sequi, tempore.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="bg-dark text-white text-center p-5 rounded"><h1>Our Partners</h1></div>
            <div class="row">
                <div class="col-lg-4 mt-3">
                    <img src="{% static 'blog/images/partner1.png' %}" class="shadow rounded-circle w-100 m-1"
                         width="150"
                         height="200" alt="partner1">
                    <div class="text-center mt-3">
                        <small class="text-white bg-secondary p-1 rounded">Ms. fdsd dflj</small>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <img src="{% static 'blog/images/partner2.png' %}" class="shadow rounded-circle w-100 m-1"
                         width="150"
                         height="200" alt="partner2">
                    <div class="text-center mt-3">
                        <small class="text-white bg-secondary p-1 rounded">Dr. dsff sdf</small>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <img src="{% static 'blog/images/partner3.png' %}" class="shadow rounded-circle w-100 m-1"
                         width="150"
                         height="200" alt="partner3">
                    <div class="text-center mt-3">
                        <small class="text-white bg-secondary p-1 rounded">Er. fdkj dflj</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}