{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
    <div class="p-5 shadow mt-3">
        <div class="p-3">
            <h1>Change Password</h1>
        </div>
        <div>
            <form action="" method="POST">
                <div>
                    <p>{{ forms.old_password.label_tag }}</p>
                    <p>{{ forms.old_password }}</p>
                </div>
                <div>
                    <p>{{ forms.new_password1.label_tag }}</p>
                    <p>{{ forms.new_password1 }}</p>
                </div>
                <div>
                    <p>{{ forms.new_password2.label_tag }}</p>
                    <p>{{ forms.new_password2 }}</p>
                </div>
                <div class="mt-4">
                    <input type="submit" value="Save" class="btn btn-lg btn-outline-info py-1 px-5">
                    <a class="btn btn-lg btn-outline-danger py-1 px-5 mx-3" href="{% url 'profile' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}