{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <div class="container shadow mt-3">
        <div class="text-center mt-4"><h1>Edit Profile</h1></div>
        <div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <p class="form-label">{{ forms.username.label_tag }}</p>
                    <p>{{ forms.username }}</p>
                </div>
                <div>
                    <p class="form-label">{{ forms.first_name.label_tag }}</p>
                    <p>{{ forms.first_name }}</p>
                </div>
                <div>
                    <p class="form-label">{{ forms.last_name.label_tag }}</p>
                    <p>{{ forms.last_name }}</p>
                </div>
                <div>
                    <p class="form-label">{{ forms.email.label_tag }}</p>
                    <p>{{ forms.email }}</p>
                </div>
                <div>
                    <p class="form-label">{{ forms.last_login.label_tag }}</p>
                    <p>{{ forms.last_login }}</p>
                </div>
                <div>
                    <p class="form-label">{{ forms.date_joined.label_tag }}</p>
                    <p>{{ forms.date_joined }}</p>
                </div>
                <div>
                    <input type="submit" value="Save" class="btn btn-lg btn-outline-secondary mb-3 py-1 px-5">
                </div>
            </form>
        </div>
    <div class="text-center text-dark mb-3">
        <a class="text-primary text-decoration-none" href="{% url 'changepassword' %}">Click here to change password</a>
    </div>
    </div>
{% endblock %}